[install]
# None used

[build_ext]
# Whether to compile with OpenMP multi-threading. Default is system dependant:
# False on OSX (since the clang compiler does not yet support OpenMP) and True
# otherwise.
omp = 1
